body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif, Arial;
    background-color: #ececec;
}

.container{
    display: flex;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
 }

.main{
    flex: 1;
    margin-top: 30px;
}

aside{
    align-self: center;
    margin-right: 50px;
    flex: none;
    width: 400px;
    height: 400px;
    box-shadow: 6px 5px 14px 1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 5px 14px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 5px 14px 1px rgba(0,0,0,0.69);
    text-align: center;
}

h1{
    font-size: 50px;
    color: rgb(8, 185, 185);
    text-align: center;
    font-family: sans-serif, Arial;
    margin: 5px;
    padding: 5px;
}

h3{
    font-size: 30px;
    color: rgb(15, 121, 121);
    text-align: center;
    font-family: sans-serif, Arial;
    margin: 25px;
}



.size-picker{
    padding: 10px;
    margin: 15px;
    text-align: left;
}

.colorPicker{
    padding: 10px;
    margin: 15px;
    text-align: center;
}

#color-picker{
    border: 1px solid #dcdcdc;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#canvas1{
    border: 2px solid rgb(71, 71, 71);
}

#botonDescarga{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color:rgb(15, 121, 121);
}


.buttons {
    margin-top: 0.7em;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: outset;
    box-shadow: 0 3px rgb(15, 121, 121) (0,0,0,0.69);;
    -webkit-box-shadow: 4px 3px 7px 1px rgba(0,0,0,0.69);
    -moz-box-shadow: 4px 3px 7px 1px rgba(0,0,0,0.69);
}